:root {
    background: black;
    font-size: 62.5%;
}
.material-symbols-outlined {
    overflow: hidden;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
}
body {
    padding: 3rem;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-clr);
}
.body-textLight {
    --text-clr: rgb(255, 255, 255);
}
.body-textDark {
    --text-clr: rgb(0, 0, 0);
}
a {
    color: var(--text-clr);
}
.background-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(33, 33, 33, 0.5);
    visibility: hidden;
    opacity: 0%;
    transition: opacity 0.2s;
}
.loading-overlay-active {
    visibility: visible;
    opacity: 100%;
}
.loading-text {
    font-size: 5rem;
}

/* HEADER START */
header {
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start;
}
.units-button {
    -webkit-appearance: none;
    margin-right: 1rem;
    padding: 1.2rem 0.7rem 0.3rem 0.7rem;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--text-clr);
}
.units-button-active {
    border-bottom: 3px solid var(--text-clr);
}
.search-container {
    margin-left: 2rem;
    padding-top: 1rem;
}
.search-box {
    padding: 0.2rem 0.5rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--text-clr);
    border-radius: 0;
    color: var(--text-clr);
    background: none;
}
.search-error {
    margin-top: 0.6rem;
    font-size: 1.5rem;
    color: red;
}
.hidden {
    visibility: hidden;
}
/* HEADER END */

/* MAIN SECTION START */
.main-city {
    margin-bottom: 0.6rem;
    font-size: 3rem;
    text-transform: capitalize;
}
.main-temp {
    font-size: 7rem;
}
.main-conditionIcon {
    font-size: 15rem;
    overflow: hidden;
}
.main-conditionDesc {
    margin-bottom: 0.4rem;
    font-size: 3.6rem;
    text-transform: capitalize;
}
.main-time {
    margin-bottom: 0.9rem;
}
.main-airInfoGrid {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 0.8rem;
    row-gap: 0.3rem;
}
.main-airInfoLabel {
    font-size: 3.3rem;
    overflow: hidden;
}
.main-airInfo {
    display: flex;
    align-items: flex-end;
    font-size: 2.6rem;
}
.main-airInfo::after {
    margin-left: 0.3rem;
    font-size: 2.2rem;
}
.main-clouds::after {
    content: "%";
}
.main-wind-imperial::after {
    content: "mph";
}
.main-wind-metric::after {
    content: "m/s";
    letter-spacing: 0.13rem;
}
/* MAIN SECTION END */

/* FOOTER START */
footer {
    position: absolute;
    left: 1.5rem;
    bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 350;
}
/* FOOTER END */
